@import url(variables.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #080404;
  color: white;
}

.header {
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#api-images {
  height: 200px;
  width: auto;
  margin: 20px;
}

.btns {
  font-size: 500%;
  width: 200px;
  padding: 2%;
  margin: 2%;
  background-color: aquamarine;
  border-radius: 100%;
  border: none;
}