@import url(variables.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Sniglet;
}

body {
  background-color: ;
}

.header {
  padding: 2rem;
  padding-left: 5rem;
  text-align: left;
}

.topbar {
  padding: 2rem;
  padding-left: 5rem;
  background-color: black;
  color: white;
}

.formstuff {
  font-size: 5rem;
}

#numberinput {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-left: 2rem;
}

.btns {
  border: none;
  background-color: var(--lightblue);
  font-size: 3rem;
}

#cat-btn {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  border-radius: 2rem;
  transition: 0.2s;
}

#cat-btn:hover {
  transform: scale(1.1);
}

.removeall-btns {
  display: flex;
}

#removeall-btn, #removeallfavs-btn {
  padding: 2rem;
  margin-left: 5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: 0.2s;
}

#removeall-btn:hover, #removeallfavs-btn:hover {
  padding-top: 4rem;
  margin-bottom: -2rem;
}

.galleries {
  display: flex;
}

.gallery, .fav-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  width: 50%;
}

.cards {
  background-color: var(--lightblue);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  max-height: 40rem;
}

.images {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-btns {
  display: flex;
  justify-content: space-between;
}

#fav-btn, #remove-btn {
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  transition: 0.2s;
}

.titles {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

#title1, #title2 {
  background-color: var(--yellow);
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  border-radius: 2rem;
  text-align: center;
}