html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: aliceblue;
}

h1 {
  font-size: 1000%;
  background-color: cadetblue;
}

p {
  font-size: 500%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  
  background-color: aqua;
  padding: 10px;
  margin: 10px;
}

#api-images {
  height: 100px;
  width: auto;
}

.btns {
  font-size: 500%;
  width: 200px;
  padding: 2%;
  margin: 2%;
  background-color: aquamarine;
  border-radius: 100%;
  border: none;
}