:root {
    --headerimg: url(https://images.alphacoders.com/129/1293737.jpg);
    --color: rgb(54, 78, 174, 0.8);
    --black: rgba(0, 0, 0, 0.6);
    --white: #ffffff;

    /* typography */
    --h1: 10rem;
    --h2: 2rem;
    --h3: 7rem;
    --h4: 4rem;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
    font-style: italic;
}

.header {
    background-image: var(--headerimg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}