:root {
    --headerimg: url(https://free4kwallpapers.com/uploads/wallpaper/minimalistic-cat-wallpaper-1920x1080-wallpaper.jpg);
    --yellow: #f6eec7;
    --lightblue: #bbecea;
    --black: #000000;
    --white: #ffffff;

    /* typography */
    --h1: 10rem;
    --h2: 5rem;
    --h3: 3rem;

}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

.header {
    background-image: var(--headerimg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}